<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.将定时任务类交给spring容器-->
    <bean id="myTask" class="cn.itcast.web.task.MyTask"></bean>
    <!--2.配置jobDetail ： 配置定时执行的类和方法-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="myTask"/>
        <property name="targetMethod" value="excete"/>
    </bean>
    <!--3.配置trigger: （触发器）配置时间以及jobdetail关系 -->
    <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="cronExpression" value="0/30 * * * * ? *"/>
        <property name="jobDetail" ref="jobDetail"/>
    </bean>
    <!--4.配置定时任务管理器-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
            </list>
        </property>
    </bean>
</beans>